.genreContent {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.genreBtn:hover {
  background-color: #cdcdcd;
  cursor: pointer;
}

.genreBtn,
.selectGenreBtn {
  padding: 1.5rem 0.3rem;
  font-size: 1.1rem;
  font-weight: 900;
  color: white;
  background-color: #a8a8a8;
  border-radius: 10px;
  border: none;
  box-shadow: 0px 0px 15px -5px #777777;
  flex: 1;
}

.genreBtn {
  background-color: #a8a8a8;
}

.selectGenreBtn {
  background-color: #6feabd;
}
