.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

.deleteButtonWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  color: black;
  justify-content: center;
  max-width: 180px;
  padding: 0 10px;
  border: 1px solid black;
  border-radius: 10px;
  cursor: pointer;
}

.deleteButtonWrapper:hover {
  background-color: black;
  color: white;
}

.deleteButtonWrapper > button {
  font-size: 1rem;
  background: none;
  color: inherit;
  border: none;
  padding: 4px 4px;
  cursor: pointer;
}

.deleteButtonWrapper button:hover {
  background: none;
}
