.dateWrapper {
  display: flex;
  text-align: center;
  margin: 15px 20px auto auto;
}

.weekWrapper {
  font-size: 1rem;
  cursor: pointer;
}

.border {
  border-left: 1.5px solid gray;
  margin: 0 15px;
}

.otherWeek {
  color: lightgray;
}
