.songPageContent {
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

.artistInfoLinkContent,
.artistFavoriteSongsContent,
.songDetailContent {
  padding-top: 2rem;
  padding-bottom: 2rem;
  border-bottom: 2px solid #c7c7c7;
}
