.albumPageContent {
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

.albumDetailContent,
.albumSongsContent,
.artistInfoLinkContent,
.artistFavoriteSongsContent,
.historySongsContent {
  padding: 2rem 0;
  border-bottom: 2px solid #c7c7c7;
}
