.artistInfo {
  display: flex;
  align-items: center;
  padding: 0.5rem 0.5rem;
  margin: 0;
  border-top: solid 1px #ccc;
}

.artistInfo > img {
  border-radius: 50%;
  box-shadow: 0px 0px 15px -5px #777777;
}

.artistInfo > div {
  margin-left: 1rem;
  width: 100%;
}

.artistName > p {
  font-size: 1rem;
  font-weight: bold;
}
