.albumSingleContent {
  display: flex;
  align-items: center;
  padding: 0.2rem 0;
}

.albumSingleContent:hover {
  background-color: #dcdcdc79;
}

.albumSingleInfo {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 1rem;
}

.postButton {
  background-color: white;
  border: 1px solid #fc9aff;
  border-radius: 5px;
  padding: 0.2rem 0.6rem 0;
}

.deleteButton {
  background-color: white;
  border: 1px solid #a9a9a9;
  border-radius: 5px;
  padding: 0.2rem 0.6rem 0;
}
