.artistInfoContent > button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ff9e9e;
  color: white;
  border-radius: 10px;
  cursor: pointer;
  padding: 0.4rem 3.5rem;
  border: white;
  font-size: 0.9rem;
  transition: background-color 0.3s ease-in, color 0.3s ease-in, border 0.3s ease-in;
}

.artistInfoContent > button:hover {
  background-color: white;
  color: #ff9e9e;
  border: 2px solid #ff9e9e;
}
