html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  color: #525252;
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  margin-top: 100px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

/* トップページスライダー(Swiperライブラリ)にCSSを適用 */
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 1.2rem;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  object-fit: cover;
  border-radius: 10px;
}

.swiper-pagination-clickable .swiper-pagination-bullet {
  background-color: white;
}

/* 不正な画面遷移時に表示 */
.loading {
  text-align: center;
  margin: 30% 10% 5%;
  font-size: 1.1rem;
}
