.actionButtonContainer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 0.5rem;
  margin-right: 1rem;
}

.removeFavoriteButtonContainer {
  margin: 1rem 0;
  display: flex;
  justify-content: center;
}

.removeFavoriteButton {
  font-size: 16px;
  color: white;
  background-color: black;
  padding: 5px;
  border: none;
  border-radius: 10px;
  height: 40px;
  width: 90%;
  max-width: 200px;
  cursor: pointer;
}

.removeFavoriteButton:disabled {
  font-size: 16px;
  color: white;
  background-color: #d5d5d5;
}
