.modal {
  border: solid 1px lightgray;
  border-radius: 10px;
  padding: 2.5rem 1.5rem ;
}

.modal legend {
  text-align: center;
  font-size: 1.4rem;
}

.warning {
  text-align: center;
  font-weight: bold;
  color: red;
  font-size: 1.4rem;
} 

.message {
  text-align: center;
  font-size: 1.1rem;
}


.buttonContainer {
  margin-top: 0.5rem;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
}

.buttonContainer > button {
  padding: 5px 10px;
  border-radius: 10px;
  cursor: pointer;
  width: 150px;
  font-size: 1.0rem;
}

.deleteButton {
  background-color: red;
  color: white;
  cursor: pointer;
}

.deleteButton:hover {
  background-color: white;
  color: red;
}


.cancelButton {
  background-color: black;
  color: white;
  cursor: pointer;
}

.cancelButton:hover {
  background-color: white;
  color: black;
}
