.hamburgerContainer {
  display: flex;
  min-width: 60px;
}

.hamburgerIconMark {
  display: flex;
  margin: auto;
  font-size: 50px;
  width: 40px;
  cursor: pointer;
}

.hamburgerCloseWrapper {
  position: absolute;
  top: 0;
  left: 0;
  z-index: calc(infinity);
  width: 80vw;
  border: 1px solid black;
  border-radius: 15px;
  background-color: white;
  padding: 15px 25px 25px 25px;

  font-size: 1.2rem;
}

.hamburgerCloseIconMark {
  display: flex;
  font-size: 40px;
  width: 30px;
  cursor: pointer;
}

.logoImageClose {
  margin-top: 5px;
}

.hamburgerLists {
  margin-top: 15px;
}

.hamburgerList {
  list-style-type: none;
  display: flex;
  margin-bottom: 15px;
  align-items: center;
  cursor: pointer;
}

.hamburgerList:hover,
.hamburgerinList:hover {
  color: aquamarine;
}

.hamburgerinList,
.serverError {
  list-style-type: none;
  display: flex;
  margin-left: 25px;
  margin-bottom: 13px;
  align-items: center;
  cursor: pointer;
}

.line {
  border-bottom: 1px solid gray;
  margin: 20px 0;
}
