.container {
  width: 100%;
  position: relative;
}

.headerTop {
  display: flex;
  height: 80px;
  background-color: white;
  justify-content: space-between;
}

.logoImage {
  display: flex;
  margin: auto;
  align-items: center;
  height: 80px;
}

.searchIcon {
  display: flex;
  min-width: 80px;
}

.searchIconMark {
  display: flex;
  margin: auto;
  font-size: 50px;
  width: 40px;
}

.freeSearch {
  display: flex;
  justify-content: space-between;
  color: #525252;
}

.freeSearch > input {
  flex: 1;
  padding: 0.3rem 0.6rem;
  margin: 1.2rem 0 1.2rem 1.5rem;
  width: 18rem;
  border-radius: 20px;
  border: 1px solid #c3c3c3b7;
  box-shadow: none;
}

.freeSearch > button {
  border: none;
  background-color: white;
  margin-left: 0.2rem;
  border-radius: 9999px;
}

.errorMessage {
  color: red;
  margin-top: 1rem;
  font-size: 0.8rem;
}

.searchCancel {
  display: flex;
  font-size: 0.7rem;
  margin-right: 1.1rem;
}

.searchCancelText {
  margin: auto;
}
