.songInfo {
  display: flex;
  align-items: center;
  padding: 0.5rem 0.5rem;
  margin: 0;
  border-top: solid 1px #ccc;
}

.songInfo > img {
  border-radius: 5px;
  box-shadow: 0px 0px 15px -5px #777777;
}

.songInfo > div {
  margin-left: 1rem;
  width: 100%;
}

.songTitle {
  font-size: 1rem;
  font-weight: bold;
}

.artistName {
  font-size: 0.8rem;
}
