.songInfoContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.songInfoContent > img {
  box-shadow: 0px 0px 15px -5px #777777;
  width: 40%;
  height: fit-content;
  min-width: 130px;
  min-height: 130px;
}

.songInfoDetail {
  width: 60%;
  display: flex;
  flex-direction: column;
  margin-left: 2rem;
}

.songInfoDetail > * {
  margin-top: 0.4rem;
}

.songInfoDetail > h2 {
  font-size: 1.1rem;
}

.songInfoDetail > p {
  font-size: 0.9rem;
}

.songInfoAddList {
  display: flex;
  background-color: white;
  color: #abc8ff;
  border: 2px solid #abc8ff;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
  padding: 0.2rem 0.3rem;
  max-width: 185px;
  cursor: pointer;
  transition: background-color 0.3s ease-in, color 0.3s ease-in, border-color 0.3s ease-in;
}

.songInfoAddFavorite {
  display: flex;
  background-color: white;
  color: #ff9e9e;
  border: 2px solid #ff9e9e;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
  padding: 0.2rem 0.3rem;
  max-width: 185px;
  cursor: pointer;
  transition: background-color 0.3s ease-in, color 0.3s ease-in, border-color 0.3s ease-in;
}

.songInfoAddFavorite:hover {
  background-color: #ff9e9e;
  color: white;
  border-color: #ff9e9e;
}

.songInfoAddList:hover {
  color: white;
  border-color: #abc8ff;
  background-color: #abc8ff;
}
