.wrapper {
  margin-bottom: 70px;
}

.songItemsGridWrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 34px;
  margin: 0px 38px;
}

.songImageGrid {
  display: flex;
  margin: auto;
  border-radius: 10px;
}

.songNameGrid,
.artistNameGrid {
  width: 95%;
  margin: 0 auto;
}
.songNameGrid {
  margin-top: 5px;
}
.artistNameGrid {
  margin-top: 3px;
  color: rgb(178, 176, 176);
}

.songItemsListWrapper {
  margin: 0px 18px;
  border-top: 1px solid lightgray;
}

.songItemListWrapper {
  display: flex;
  padding-bottom: 10px;
  margin: 15px 0;
  border-bottom: 1px solid lightgray;
}

.songImageList {
  border-radius: 3px;
  margin-left: 10px;
}
.nameList {
  margin: 5px 5px 0 20px;
}

.songNameList {
  font-size: 1.1rem;
}

.artistNameList {
  margin-top: 7px;
  color: rgb(178, 176, 176);
}
