.display {
  text-align: center;
}

.kind {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  padding: 0;
  margin: 0;
}

.kindList {
  font-size: 1.2rem;
  text-align: center;
}

.active {
  color: rgb(86, 236, 186);
  border-bottom: 0.2rem solid rgb(86, 236, 186);
  padding-bottom: 0.2rem;
}

.hr {
  border: 0.2rem solid rgb(203, 203, 203);
  margin: 1rem 0;
}
