.register {
  display: flex;;
  background-color: black;
  font-size: 16px;
  color: white;
  padding:5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
  width: 87%;
  height: 40px;
  flex-direction: column;
  align-items: center;
  margin: 0px 20px;
}

.register:hover {
  background-color: white;
  color: black;
}
