.register {
  background-color: black;
  font-size: 16px;
  color: white;
  margin-top: 10px;
  padding: 5px 0px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
  height: 40px;
  width: 100%;
}

.register:hover {
  background-color: white;
  color: black;
}
