.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px solid lightgray;
  max-width: 75%;
  margin: 5% 15%;
  font-size: 20px;
  height: 350px;
}
