.container {
  display: flex;
  flex-direction: column;
  border: 1px solid lightgray;
  border-radius: 10px;
  margin: 5% 10% 10%;
  padding: 1rem 1rem 2rem ;
  font-size: 1.2rem;
}

.errorMessage {
  color: red;
  font-size: 0.74rem;
  height: 10px;
  text-align: center;
}
