.wrapper {
  margin: 1rem 3rem;
  max-width: 85%;
}

.editTitle {
  text-align: center;
  padding-top: 1rem;
  font-size: 1.5rem;
  font-weight: 600;
}

.playlists {
  display: flex;
  flex-direction: column;
  margin: 3rem auto;
  width: 100%;
}

.playlistList {
  display: flex;
  list-style-type: none;
  border-bottom: 1px solid black;
  margin-bottom: 1rem;
}

.listTitle {
  font-size: 1.3rem;
  margin: 0 2rem 0 0.5rem;
}

.playlistList > button {
  margin: auto 0 auto auto;
  background-color: white;
  border: none;
}

.deleteIcon {
  font-size: 2.3rem;
  color: rgba(204, 15, 15, 0.635);
}

.buttonContainer {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
}

.closeButton {
  padding: 5px 10px;
  border-radius: 10px;
  cursor: pointer;
  width: 150px;
  background-color: gray;
  color: white;
  cursor: pointer;
  border: none;
}

.closeButton:hover {
  opacity: 0.8;
}
