.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid lightgray;
  border-radius: 10px;
  margin: 5% 10% 5%;
  padding: 1rem;
  font-size: 0.9rem;
}

.errorMessage {
  color: red;
  font-size: 0.74rem;
  height: 10px;
  text-align: center;
}
